
.grid{
  display:grid; gap:16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.course-card{
  background: #b1dfbe;
  border: 1px solid #054727;
  border-radius: 10px;
  padding:16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff1;
  transition: transform .12s ease, box-shadow .2s ease, border-color .2s ease;
  margin: 5px;
}
.Session-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 800px;
  background: #1f572f;
  border: 1px solid #4d7f67;
  border-radius: 10px;
  padding:10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff1;
  transition: transform .12s ease, box-shadow .2s ease, border-color .2s ease;
  color: #ffffff;
  margin: 10px;
}
.course-card:hover,.Session-card:hover{
  transform: translateY(-2px);
  box-shadow: 0 16px 40px #0009, 0 0 0 1px #ffffff;
  border-color:#4a8f65;
}

.cardHeader{
  display:flex; align-items:center; justify-content:space-between; gap:10px;
  margin-bottom:8px;
}
.cardHeader h2{ margin:0; font-size:18px; }
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bt1,#bt2{
  border:1px solid #2b5c51; background:#102b21; color: #ffffff; padding:10px 14px; border-radius:10px;
  cursor:pointer; transition: transform .05s ease, box-shadow .15s ease, border-color .15s ease;
  left: -30px;
  border-radius: 20px;
}
#bt1:hover,#bt2:hover{ border-color: #56a487; box-shadow: #282c34; }
#searchBar{
  background: #1f572f;
  border: 1px solid #4d7f67;
  border-radius: 10px;
  padding:5px 100px 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff1;
  color: #ffffff;
  margin: 20px auto;
  display: block;
}
::placeholder{
  color: #67bd6d;
}

.toolBar{
  position: absolute;
  background-color: #8fbf9f;
  height: 550px;
  width: 250px;
  z-index: 2000;
  transform: translateX(-100%);
  transition: all 0.4s;
}
.toolBar .toolRow{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: white;
  font-size: 30px;
}
.toolRow .icon{
  flex: 30%;
  place-items: center;
}

.toolBar .toolRow:hover{
  background-color: #054727;
  border-radius: 15px;
}
.toolRow .title {
  margin-left: 20px;
  font-size: 11px;
}
.pageShadow {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.menu_icon{
  background-color: #8fbf9f;
  width: 100%;
  height: 30px;

}
.menu {
  background-color: #8fbf9f;
  color: white;
  border: none;
  size: 10px;
  margin-left: 10px;
  width: 50px;
  height: 30px;
}
.toolBar--open{
  transform: translateX(0%);
}
.pageShadow--open{
  display: block;
}
