
.grid{
  display:grid; gap:16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.course-card{
  background: #DEFBDA;
  border: 1px solid #054727;
  border-radius: 10px;
  padding:16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff1;
  transition: transform .12s ease, box-shadow .2s ease, border-color .2s ease;
  margin: 5px;
}
.Session-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 800px;
  background: #56B46F;
  border: 1px solid #4d7f67;
  border-radius: 10px;
  padding:10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff1;
  transition: transform .12s ease, box-shadow .2s ease, border-color .2s ease;
  color: #ffffff;
  margin: 10px;
}
.course-card:hover,.Session-card:hover{
  transform: translateY(-2px);
  box-shadow: 0 16px 40px #0009, 0 0 0 1px #ffffff;
  border-color:#4a8f65;
}

.cardHeader{
  display:flex; align-items:center; justify-content:space-evenly; gap:10px;
  padding: 20px;
}
.cardHeader-session{
   display:flex; align-items:center; justify-content:start; gap:10px;
}
.cardHeader-session-totr{
     display:flex; align-items:center; justify-content:start; gap:10px;
     background-color: #0B6623;
     border-radius: 15px;
     max-width: 300px;
}
.cardHeader h2{ margin:0; font-size:18px; }
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bt1,#bt2{
  border:1px solid #b2e8bb; background:#0B6623; color: #ffffff; padding:10px 14px; border-radius:10px;
  cursor:pointer; transition: transform .05s ease, box-shadow .15s ease, border-color .15s ease;
  left: -30px;
  border-radius: 20px;
}
#bt1:hover,#bt2:hover{ border-color: #56a487; box-shadow: #282c34; }
#searchBar{
  background: #56B46F;
  border: 1px solid #4d7f67;
  border-radius: 10px;
  padding:5px 100px 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff1;
  color: #ffffff;
  margin: 20px auto;
  display: block;
}
::placeholder{
  color: #000000;
}

.toolBar{
  position: absolute;
  background-color: #DEFBDA;
  height: 550px;
  width: 250px;
  z-index: 2000;
  transform: translateX(-100%);
  transition: all 0.4s;
}
.toolBar .toolRow{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: white;
  font-size: 30px;
}
.toolRow .icon{
  flex: 30%;
  place-items: center;
}

.toolBar .toolRow:hover{
  background-color: #054727;
  border-radius: 15px;
}
.toolRow .title {
  margin-left: 20px;
  font-size: 11px;
}
.pageShadow {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.menu_icon{
  background-color: #DEFBDA;
  width: 100%;
  height: 30px;

}
.menu {
  background-color: #DEFBDA;
  color: #999999;
  border: none;
  size: 10px;
  margin-left: 10px;
  width: 50px;
  height: 30px;
}
.toolBar--open{
  transform: translateX(0%);
}
.pageShadow--open{
  display: block;
}
/**/
.info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 400px;
  background: #B1D8B7;
  border: 1px solid #4d7f67;
  border-radius: 15px;
  padding:10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff1;
  transition: transform .12s ease, box-shadow .2s ease, border-color .2s ease;
  color: #ffffff;
  margin: 20px auto;
}
.info_box{
  background-color: #56B46F;
  max-height: 100px;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}
.info_name{
display: flex;
  justify-content: space-around;
  align-items:center;
}
.Main_profile{
  background-color: #8fbf9f;
  height: 30px;
}
.content{
  margin-top: 10px;
}
.info_box:hover{
  transform: translateY(-2px);
  box-shadow: 0 16px 40px #0009, 0 0 0 1px #417f4e;
  border-color:#4a8f65;
}
.by{
  display: flex;
  background-color: #0B6623;
  max-width: 80px;
  max-height: 40px;
  border-radius: 15px;
  padding: 5px;
}
.rating{
  display: flex;
  justify-content: center;
  background-color: #0B6623;
  max-width: 200px;
  max-height: 40px;
  border-radius: 15px;
  padding: 5px;
   margin: 20px auto;
}
.by_sesion{
  display: flex;
  background-color: #0B6623;
  max-width: 100px;
  max-height: 40px;
  border-radius: 15px;
  padding: 5px;
}
.flex_content{
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding: 5px;
}